/* page wide styling*/
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
    font-size: 25px;
}

html, body {
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    flex: 1;
    padding: 15px;
    background-color: #F5E6F7;
}

.top {
    background-color: #BDD2EF;
    border-bottom: 3px solid black;
}

.top span{
    padding: 15px;
    cursor: pointer;
    font-size: 35px;
}

.top h3 {
    font-size: 35px;
}

.side-nav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #BDD2EF, #E0D4E7, #EECEDA);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover{
    color: #f1f1f1;
}

.side-nav .close-btn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.side-nav .current {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.body-contents {
    padding: 15px;

}

.body-contents img {
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.body-contents h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.body-contents h3 {
    padding-bottom: 15px;
    background-color: #FFFFF0;
    border-radius: 35px;
    padding-left: 15px;
}

.body-contents span {
    cursor: pointer;
    font-size: 25px;
}

.background-info {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.background-info p {
    padding: 15px;
}

.contributions-info {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.contributions-info h5 {
    padding-top: 15px;
    padding-left: 15px;
}

.contributions-info p {
    padding: 15px;
    padding-top: 0px;
}

.people {
    padding: 15px;
    margin: 0px;
}

.person {
    padding-left: 15px;
    text-align: center;
    
}

.person img {
    width: 75%;
    height: 335px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.person h3 {
    padding-top: 15px;
    color: #333;
}

.person p {
    color: #333;
}

.person i {
    font-size: 75px;
    padding: 15px;
}

.person a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.person a:hover {
    color: #666666;
}

footer {
    background-color: #BDD2EF;
    text-align: center;
    padding: 15px;
}
